@charset "utf-8";
/* CSS Document */
body {
    font-family: 'Nunito', sans-serif;
}
h1,h2,h3{
    font-family: 'Bebas Neue', cursive;
}
#hero-image{
    height: 20vw;
    align-items: center;
    background-color: #E0E0E0;
}
.logo{
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5rem; 
}
.navbar a {
    color:#000;
}
.price-box h3{
    border-bottom: 3px solid #000;
}
